<mat-toolbar class="header mat-elevation-z4">
    <span>
      <a>
        <img class="logo_img" [src]="imageSrc" alt="logo">
      </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-symbols-outlined">
                dashboard
            </i>
            <div>Aplicação CRUD</div>
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-symbols-outlined">
                storage
            </i>
            <div>Produtos</div>
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-symbols-outlined">
                contact_phone
            </i>
            <div>Contato</div>
        </a>
    </span>
</mat-toolbar>
  