<mat-toolbar class="header">
    <span>
      <a>
        <img class="logo_img" [src]="imageSrc" alt="logo">
      </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                dashboard
            </i>
            Aplicação CRUD
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                storage
            </i>
            Produtos
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                contact_mail
            </i>
            Contato
        </a>
    </span>
  </mat-toolbar>
  