.footer {
    position: fixed;
    bottom: 0;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}
.footer .footer-link {
    text-decoration: none;
    color: #f4f4f4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}